:root {
  --primary: #30c5ff;
  --secondary: #ff312e;
  --mid: #726953;
  --dark: #010409;
  --light: #F7F3F5;
  --background1: #161b22;
  --text: #c9d1d9;
  --background2: #010409;
  --circuit-background: url("/~quark/assets/circuit_board_dark.png");
}
html {
  color: var(--text);
  background: var(--circuit-background) repeat;
}
aside#menu {
  left: -111px;
  overflow: hidden;
  background-color: #e6f8ff;
}
body {
  padding-top: 118px;
}
a {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}
a:hover {
  filter: brightness(1.2);
}
a:active {
  filter: brightness(0.8);
}
header .header-link {
  color: var(--header-text);
  border: none;
}
header .header-link:hover {
  color: var(--primary);
  filter: brightness(1.5);
}
header .header-link.active {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}
header .header-link:active {
  filter: brightness(0.8);
}
.landing {
  background-color: var(--header-background);
}
.background1 {
  background: var(--background1);
  color: var(--text);
}
.background2 {
  background: var(--background2);
  color: var(--text);
}
.bio {
  background: var(--mid);
  color: var(--text);
  box-shadow: 0px 0px 50px 10px var(--mid);
}
.photo {
  box-shadow: 0px 0px 50px 10px var(--mid);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary);
  border-bottom: 3px solid var(--secondary);
}
